# SMTP (Mailtrap sandbox)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=username
SMTP_PASSWORD=password

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=email_dispatch
KAFKA_GROUP_ID=email-senders

# Redis
REDIS_ADDR=localhost:6379

# Worker metrics (optional)
METRICS_ADDR=:9091

# Logging (optional)
LOG_LEVEL=info
